div{
    margin: 25%;
    margin-top: 50px;  
    
    mat-card{
        background-color: #cccccc;
    
        mat-form-field{
            margin: 20px;
        }
    }
     
    table{
        button{
            margin-left: 10px;
            height: 30px;
        }
    }
}